<div>
	<div class="card_list pull-left">
		<div class="col-md-12 margin_bot_15">
			<div class="col-md-6 cursor" [ngClass]="{'hr': (userRole == 'user')}" (click)="userRole = 'user'">
				<h4 class="pull-left">Users</h4>
				<img *ngIf="isNewOrderUser" class="pull-right margin_top_12" src="/images/attention_blue.png" />
			</div>
			<div class="col-md-6 cursor" [ngClass]="{'hr': (userRole == 'guest')}" (click)="userRole = 'guest'">
				<h4 class="pull-left">Guests</h4>
				<img *ngIf="isNewOrderGuest" class="pull-right margin_top_12" src="/images/attention_blue.png" />
			</div>
		</div>
		<div *ngFor="let order of (orderList | sortOrders | filterOrders: userRole)" (click)="getOrder(order.orderID)" class="hr">
			<div>
				<div class="pull-left"><b>ID</b> - #{{order.orderID}}</div>
				<div [hidden]="order.isApprove" class="pull-right"><img src="/images/attention_blue.png" /></div>
				<div class="clearfix"></div>
			</div>
			<div><b>Checkout date</b> - {{order.date | date}}</div>
		</div>
	</div>

	<div [hidden]="!order" class="card_order pull-right">
		<div class="col-md-12">
			<div class="pull-left"><h2>#{{order?.orderID}}</h2></div>
			<div *ngIf="order?.isApprove" class="pull-right"><h2>Status: <span style="color:#507299">Confirmed</span></h2></div>
			<div *ngIf="!order?.isApprove" class="pull-right"><h2>Status: <span style="color:#ffd800">Queue</span></h2></div>
			<div class="clearfix"></div>
			<hr *ngIf="order?.isApprove" style="border-top: 1px solid #507299" />
			<hr *ngIf="!order?.isApprove" style="border-top: 1px solid #ffd800" />
		</div>

		<div class="col-md-12">
			<div class="col-md-2"><h4>Name: {{order?.userName}}</h4> </div>
			<div class="col-md-3"><h4>Phone: {{order?.phone}}</h4></div>
			<div class="col-md-4"><h4>Delivery address: {{order?.deliveryAddress}}</h4></div>
			<div class="col-md-3"><h4>TotalPrice: ${{order?.totalPrice}}</h4></div>
		</div>

		<div class="col-md-12" *ngFor="let product of order?.products; let i = index" style="margin-top:15px; padding:5px; border:solid 1px">
			<div class="col-md-3"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristic?.Image}}" style="width:25%" /></div>
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<div><span><b>ID:</b>  {{product?.productID}} </span></div>
				<div><span><b>Type:</b>  {{product?.type}}</span></div>
				<div><span><b>Name:</b>  {{product?.characteristic?.Name}} </span></div>
			</div>
			<div class="col-md-2" style="margin-top:15px"><h4>${{product?.characteristic?.Price}} USD</h4> </div>
		</div>

		<div *ngIf="!order?.isApprove" class="col-md-12 margin_top_12">
			<div class="pull-left"><img src="/images/confirm.png" class="cursor" (click)="confirmOrder(order.orderID)" /></div>
			<div class="pull-right"><img src="/images/decline.png" class="cursor" (click)="deleteOrder(order.orderID)" /></div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>