<div>
	<div class="card_title">
		<h2 class="pull-left">{{product?.characteristic?.Name}} </h2>
		<h2 class="pull-right">${{product?.characteristic?.Price}} USD</h2>
		<div class="clearfix"></div>
	</div>

	<div>
		<div class="pull-left card_image"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristic?.Image}}" style="width:100%" /></div>
		<div class="pull-right" style="width:600px">
			<div class="card_characteristic">
				<h3>General information</h3>
				<div style="margin-left:10px">
					<div><span><b>Name:</b>  {{product?.characteristic?.Name}} </span></div>
					<div><span><b>Genre:</b>  {{product?.characteristic?.Genre}} </span></div>
					<div><span> <b>Tom:</b>  {{product?.characteristic?.Tom}} </span></div>
					<div><span> <b>Author:</b>  {{product?.characteristic?.Author}} </span></div>
					<div><span> <b>ReleaseDate:</b>  {{product?.characteristic?.ReleaseDate}} </span></div>
					<div><span> <b> Restrictions:</b> {{product?.characteristic?.Restrictions}} </span></div>
					<div><span> <b>Publisher:</b>  {{product?.characteristic?.Publisher}} </span></div>
					<div><span> <b>Language:</b>  {{product?.characteristic?.Language}} </span></div>
					<div><span> <b>Discription: </b> {{product?.characteristic?.Discription}} </span></div>
				</div>
			</div>
			<div>
				<div [hidden]="true" id="successAddToCart" class="alert-danger col-md-9 text-center alert_blue margin_top_15"></div>
				<div> <input type="button" class="btn btn-default pull-right button_style" (click)="addProductToCart()" value="add to cart" /></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>



